# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\找工作\笔试\python-diango-web-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
